WA/exp3/test1Project/src/main/webapp/wsdl/stringLength.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test1Project" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test1Project" xmlns:intf="http://test1Project" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://test1Project" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getStringLength">
    <complexType>
     <sequence>
      <element name="s" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStringLengthResponse">
    <complexType>
     <sequence>
      <element name="getStringLengthReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getStringLengthResponse">

      <wsdl:part element="impl:getStringLengthResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStringLengthRequest">

      <wsdl:part element="impl:getStringLength" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="stringLength">

      <wsdl:operation name="getStringLength">

         <wsdl:input message="impl:getStringLengthRequest" name="getStringLengthRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStringLengthResponse" name="getStringLengthResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="stringLengthSoapBinding" type="impl:stringLength">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getStringLength">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStringLengthRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStringLengthResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="stringLengthService">

      <wsdl:port binding="impl:stringLengthSoapBinding" name="stringLength">

         <wsdlsoap:address location="http://localhost:8080/test1Project/services/stringLength"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
