WA/exp3/test1Project/src/main/webapp/wsdl/subClass.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test1Project" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test1Project" xmlns:intf="http://test1Project" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://test1Project" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sub">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="subResponse">
    <complexType>
     <sequence>
      <element name="subReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="subRequest">

      <wsdl:part element="impl:sub" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subResponse">

      <wsdl:part element="impl:subResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="subClass">

      <wsdl:operation name="sub">

         <wsdl:input message="impl:subRequest" name="subRequest">

       </wsdl:input>

         <wsdl:output message="impl:subResponse" name="subResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="subClassSoapBinding" type="impl:subClass">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sub">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="subResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="subClassService">

      <wsdl:port binding="impl:subClassSoapBinding" name="subClass">

         <wsdlsoap:address location="http://localhost:8080/test1Project/services/subClass"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
